.selector {
  position: relative;
}

.selector-input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-alt);
  background-color: var(--color-text-strong);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  box-sizing: border-box;
}

.selector-input::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}

.selector-input:hover {
  outline: none;
  background-color: var(--color-background-strong);
}

.selector-input:focus {
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.selector-input-error {
  background-color: var(--color-background-error);
}

.selector-content {
  background-color: var(--color-text-strong);
  position: absolute;
  left: 2.5%;
  width: 95%;
  max-height: max(calc(90vh - 500px), 10rem);
  margin-top: 2px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  z-index: 10;
}

.selector-option {
  width: 100%;
  text-align: left;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--color-background-strong);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-alt);
  color: var(--color-text);
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 0;
}

.selector-option:hover {
  background-color: var(--color-brand);
}
