terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/plan.out

**/build
**/node_modules
**/__pycache__
build-status.svg

**/.serverless
**/.mypy_cache
**/.pytest_cache
backend/target
frontend/src/assets/CHANGELOG.md
