# Backend
backend/node_modules
backend/.serverless
backend/.mypy_cache
backend/.pytest_cache
backend/target
backend/requirements.txt

# Frontend
frontend/node_modules
frontend/build

# Terraform
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info
terraform/plan.out

# Misc
.vscode