[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flightradarapi = "==1.2.1"
numpy = "~=1.24.1"
pandas = "~=1.5.3"
boto3 = "~=1.26.54"

[dev-packages]
black = "*"
pylint = "*"
bandit = "*"
mypy = "*"
coverage = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
