[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flightradarapi = "*"
numpy = "*"
pandas = "*"

[dev-packages]
black = "*"
pylint = "*"
bandit = "*"
mypy = "*"
coverage = "*"
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.7"
