.settings-multiplayer-option {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem 1rem;
  margin-bottom: 2.5rem;
  justify-content: center;
}

.settings-multiplayer-loading {
  width: 70%;
  max-width: 550px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}
