.reset-button {
  height: 1.8rem;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.reset-button:hover {
  background: none;
  box-shadow: none;
}

.reset-button > svg {
  display: block;
  color: var(--color-text);
  margin-top: auto;
  margin-bottom: auto;
}

.reset-button:hover > svg,
.reset-button:hover > h3 {
  color: var(--color-brand);
  transform: translateY(1px);
}

.reset-button:active > svg {
  color: var(--color-brand);
  transform: translateY(1px);
}
