.error-text-container {
  width: 80vw;
  max-width: 600px;
  margin: 20px auto;
  border-radius: 1rem;
  background: var(--color-background-transparent);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
}
