.footer {
  padding: 2rem;
}

.footer h4 {
  margin: 0.5rem;
}

.footer-changelog {
  height: min(70vh, 800px);
  background: var(--color-background);
  border-radius: 1rem;
  overflow: scroll;
  padding: 2rem;
}
