.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 1.5rem;
  position: relative;
}

.footer-changelog {
  height: min(70vh, 800px);
  background: var(--color-background);
  border-radius: 1rem;
  overflow-y: scroll;
  padding: 2rem;
}

.footer-text {
  text-align: center;
  grid-column: 2;
}

.footer-text > * {
  margin: 0.5rem;
}
