.make-guess,
.make-guess-loading {
  width: 90vw;
  max-width: 550px;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
}

.make-guess {
  background-color: var(--color-background-transparent);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.make-guess-label {
  text-align: start;
  padding-left: min(5vw, 2rem);
  padding-top: 1.5rem;
  margin-bottom: 0.6rem;
}

.make-guess-button {
  margin-top: 2rem;
}

.make-guess-warning {
  padding: 4rem;
  padding-bottom: 0;
}
