.tooltip-wrapper {
  position: relative;
  display: flex;
}

.tooltip {
  position: absolute;
  background-color: var(--color-background-transparent-strong);
  color: var(--color-title);
  padding: 6px 10px;
  border-radius: 4px;
  white-space: nowrap;
  z-index: 1000;
  pointer-events: none;
  animation: tooltip-fade-in 0.5s;
}

.tooltip-top {
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-bottom {
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
}

.tooltip-left {
  right: 125%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip-right {
  left: 125%;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes tooltip-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
