.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: visible;
  position: relative;
  animation: fade-in 1.5s;
}

.loading-spinner-container {
  animation: float 2s ease-in-out infinite;
  height: 100%;
  width: 100%;
}

.loading-spinner-image {
  animation: drift 5s ease-in-out infinite;
  max-width: 100%;
  max-height: 100%;
}

@keyframes float {
  0% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(3%);
  }
}

@keyframes drift {
  0% {
    transform: translateX(3%);
  }
  50% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(3%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
